<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8" />
    <title>HELLO</title>
</head>
<body>

<form id="PriceAnalyzer-form" role="form" th:action="@{/save}" method="post" th:object="${PriceAnalyzer}">
    <div>
        <label for="departure">From</label>
        <input type="text" id="from" name="from" th:field="${PriceAnalyzer.from}"/>
    </div>
    <div>
        <label for="arrival">To</label>
        <input type="text" id="to" name="to" th:field="${PriceAnalyzer.to}"/>
    </div>
	
    <div>
        <label for="depDate">Departure Date </label>
        <input type="Date" id="depDate" name="depDate" th:field="${PriceAnalyzer.depDate}"/>
    </div>
    <div>
        <label for="retDate">Return Date </label>
        <input type="Date" id="retDate" name="retDate" th:field="${PriceAnalyzer.retDate}"/>
    </div>
    <div>
        <button type="submit">Save</button>
    </div>
</form>
<p th:utext="${message}"></p>
</body>
</html>