<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8" />
    <title>HELLO</title>
</head>
<body>

<form id="gizmo-form" role="form" th:action="@{/save}" method="post" th:object="${gizmo}">
    <div>
        <label for="departure">Departure</label>
        <input type="text" id="departure" name="departure" th:field="${gizmo.departure}"/>
    </div>
    <div>
        <label for="arrival">Arrival</label>
        <input type="text" id="arrival" name="arrival" th:field="${gizmo.arrival}"/>
    </div>
    <div>
        <button type="submit">Save</button>
    </div>
</form>
<p th:utext="${message}"></p>
</body>
</html>