<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8" />
    <title>HELLO</title>
</head>
<body>

<form id="gizmo-form" role="form" th:action="@{/save}" method="post" th:object="${gizmo}">
    <div>
        <label for="departure">From</label>
        <input type="text" id="from" name="from" th:field="${gizmo.from}"/>
    </div>
    <div>
        <label for="arrival">To</label>
        <input type="text" id="to" name="to" th:field="${gizmo.to}"/>
    </div>
	
    <div>
        <label for="date">Date</label>
        <input type="date" id="date" name="date" th:field="${gizmo.date}"/>
    </div>
    <div>
        <button type="submit">Save</button>
    </div>
</form>
<p th:utext="${message}"></p>
</body>
</html>